body{
    font-family: 'Roboto', sans-serif !important;
    /* background-color: rgb(41, 47, 66) */
}

.bg-math{
    background-color: #8A2BE2;
    border: 2px solid #8A2BE2;
}
.bg-math:hover {
    background-color: #8A2BE2;
    border: 2px solid #fff;
}

.btn-math{
    background-color: #8A2BE2;
    border-radius: 50px;
    padding: 7px 35px;
    font-weight: bold;
}

.btn-math:hover {
    background-color: #8A2BE2;
}

.btn-learn{
    background-color: rgb(84, 91, 114);
    border: 5px solid rgb(177, 177, 216);
    border-radius: 50px;
    padding: 7px 35px;
    font-weight: bold;
}


.input-group-text {
    background-color: transparent !important;
}
.form-control {
    border-left: none;
}

.bg-navbar {
    background-image: url('/img/mathlearn/bg-navbar.png');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: center;
}

.box-cron {
    padding: 5rem 2rem;
    text-align: center;
}
.box-cron h2 {
    font-size:  300%;
    font-weight: bold;
    text-align: center;
}
.box-calc {
    text-align: center;
    font-size:  350%;
    border: .8rem #6666fb dashed;
    border-radius: 30px;
    font-weight: bold;
    padding: 5rem;
}

.box-calc input{
    background: transparent;
    border: none;
    border-bottom: 5px solid #fff;
    width: 100%;
}

.btn-operacao {
    background-color: #575f72;
    border: #a1c0cb 5px solid;
    border-radius: 50px;
}
.btn-tabuada {
    text-align: center;
    background-color: #575f72;
    border: #a1c0cb 5px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    padding: 1rem;
}

.bg-ouro {
    background-color: #ffd700;
}

.bg-prata {
    background-color: #c0c0c0;
}

.bg-bronze {
    background-color: #cd7f32;
}